<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Visitor Count</title>

    {% load static %}
    {% load bootstrap4 %}

<style>
body{background:white;}
</style>
</head>
<body>
    <div class="py-5 bg-dark">
        <h1 class="display-3 text-center mb-5 text-white" >Hi! You're the {{visitor_count}} to visit this website! </h1>
        <br>
    </div>
</body>
</html>
